.status[data-v-90ce4e51]{height:5px;width:5px;background-color:green;border-radius:50%;display:inline-block;margin-right:5px}.form-list[data-v-90ce4e51]{display:table;font-size:12px}.form-list li[data-v-90ce4e51]{display:table-row}
